.container {
 position: absolute;
 height: 70%;
 top: 0%;
 display: flex;
 align-items: center;
 justify-content: center;
 transform-origin: 50% 50%;
}

.contents {
 position: relative;
 width: 95%;
 height: 100%;
 background: white;
 display: flex;
 align-items: center;
 justify-content: center;
 transform-origin: 50% 50%;
}
